body {
    background: #96969c;
}


.element {
    position: fixed;
    right: 50px;
    bottom: 100px;
    left: 50%;
    min-height: 100px;
    background-color: #fff;
    border-radius: 5px;
}


.circle {
    margin-top: -50px;
    margin-left: 50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ff0000;
}